* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-image: url('bk.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 50px; 
}


header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}

header h1 {
    margin: 0;
    font-size: 36px;
}


main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#manage-tours {
    margin: 0 auto;
    max-width: 1200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

form {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
    resize: vertical; 
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF7D00;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e67e22;
}


footer {
    background-color: #d3d3d3; 
    color: beige;
    text-align: center;
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    width: 100%;
    z-index: 1; 
}